<h1>Welcome to the Translation Book Club!</h1>
<p>Check out what our members have been reading:</p>
<p><%= link_to "Books", books_path %></p>
<p><%= link_to "Authors", authors_path %></p>
<p><%= link_to "Languages", languages_path %></p>
<p><%= link_to "Publishers", publishers_path %></p>
<p><%= link_to "Members", members_path %></p>